@model CryptoTracker.Models.ViewModels.UpdateWallet

@{
    ViewBag.Title = "Edit";
}

<h2>Update Wallet</h2>
<nav>
    <ul>
        <li><a href="/Wallet/List">Go back to list</a></li>
    </ul>
</nav>
<form action="/Wallet/Update/@Model.SelectedWallet.WalletId" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="display:none;">
                <input type="text" name="WalletId" value="@Model.SelectedWallet.WalletId" />
            </div>
            <div>
                <label>Name:</label> <input type="text" name="WalletName" value="@Model.SelectedWallet.WalletName" />
            </div>
            <div>
                <label>Description:</label> <textarea id="WalletDescription" name="WalletDescription" rows="4" cols="50">@Model.SelectedWallet.WalletDescription</textarea>
            </div>
            <div>
                <label>New Wallet Type:</label>
                <select name="walletType">
                    @foreach (var types in Model.WalletTypes)
                    {
                        var selected = "";
                        if (types == Model.SelectedWallet.WalletType)
                        {
                            selected = "selected";
                        }
                        <option value="@types" @selected>@types</option>

                    }
                </select>
            </div>
            <div>
                <input class="btn-default" type="submit" value="Update Wallet" />
            </div>
        </div>
    </div>
</form>
<!--div class="col-md-6 col-sm-12">
    <h3>Update Token Balances:</h3>
    <table>
        <tr>
            <th>Token</th>
            <th>Original Balance</th>
            <th>New Balance</th>
        </tr>
        @foreach (var token in @Model.Tokens)
        {
            <tr>
                <td>@token.TokenName</td>
                <td>@token.TokenBalance</td>
                <td>
                    <form action="/Wallet/UpdateTokenBalance/@Model.SelectedWallet.WalletId" method="POST" enctype="multipart/form-data">
                        <div style="display:none;">
                            <input type="text" name="TokenId" value="@token.TokenId" />
                        </div>
                        <input type="number" name="TokenBalance" value="@token.TokenBalance" />
                        <input type="submit" value="Update" />
                    </form>
                </td>
            </tr>
        }
    </table>
<div-->
