@model CryptoTracker.Models.ViewModels.DetailsWallet

@{
    ViewBag.Title = "Edit";
}

<h2>Update Wallet Balance</h2>
<nav>
    <ul>
        <li><a href="/Wallet/List">Go back to list</a></li>
    </ul>
</nav>
<div class="col-md-6 col-sm-12">
    <h3>Update Token Balances:</h3>
    <table>
        <tr>
            <th>Token</th>
            <th>Original Balance</th>
            <th>New Balance</th>
        </tr>
        @foreach (var token in @Model.Tokens)
        {
            <tr>
                <td>@token.TokenName</td>
                <td>@token.TokenBalance</td>
                <td>
                    <form action="/Wallet/UpdateTokenBalance/@Model.SelectedWallet.WalletId" method="POST" enctype="multipart/form-data">
                        <div style="display:none;">
                            <input type="text" name="TokenId" value="@token.TokenId" />
                        </div>
                        <input type="number" name="TokenBalance" value="@token.TokenBalance" step=".01"/>
                        <input class="btn-default" type="submit" value="Update" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
