@model CryptoTracker.Models.ViewModels.DetailsToken
@{
    ViewBag.Title = "View";
}
<h2>@Model.SelectedToken.TokenName</h2>
<nav>
    <ul>
        <li><a href="/Token/List">Go back to list</a></li>
        <li><a href="/Token/Edit/@Model.SelectedToken.TokenId">Update</a></li>
        <li><a style="color:#ab2020;" href="/Token/DeleteConfirm/@Model.SelectedToken.TokenId">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div>Description: @Model.SelectedToken.TokenDescription</div>
        <div>Risk Level: @Model.SelectedToken.TokenRiskLevel</div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>Tokens:</h2>
        <table>
            <tr>
                <th>Token</th>
                <th>Balance</th>
            </tr>
            @foreach (var walet in @Model.Wallets)
            {
                <tr>
                    <td>@walet.WalletName</td>
                    <td>@walet.WalletBalance</td>
                </tr>
            }
        </table>
    </div>

</div>