@model CryptoTracker.Models.ViewModels.UpdateToken

@{
    ViewBag.Title = "Edit";
}

<h2>Update Token</h2>
<nav>
    <ul>
        <li><a href="/Token/List">Go back to list</a></li>

        <li><a style="color:#ab2020;" href="/Token/DeleteConfirm/@Model.SelectedToken.TokenId">Delete</a></li>
    </ul>
</nav>
<form action="/Token/Update/@Model.SelectedToken.TokenId" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="display:none;">
                <input type="text" name="TokenId" value="@Model.SelectedToken.TokenId" />
            </div>
            <div>
                <label>Name:</label> <input type="text" name="TokenName" value="@Model.SelectedToken.TokenName" />
            </div>
            <div>
                <label>Symbol:</label> <input type="text" name="TokenSymbol" value="@Model.SelectedToken.TokenSymbol" />
            </div>
            <div>
                <label>Description:</label> <textarea id="TokenDescription" name="TokenDescription">@Model.SelectedToken.TokenDescription</textarea>
            </div>
            <div>
                <label>Price:</label> <input type="number" name="TokenPrice" value="@Model.SelectedToken.TokenPrice" />
            </div>
            <div class="risk-level">
                <label>Token Risk Level:</label>
                <br />
                @foreach (var level in Model.TokenRiskLevels)
                {
                    var check = "";
                    if (level == Model.SelectedToken.TokenRiskLevel)
                    {
                        check = "checked";
                    }
                    <input type="radio" id="@level" name="TokenRiskLevel" value="@level" @check>
                    <label for="@level">@level</label><br>

                    }
            </div>
            <div>
                <input class="btn-default" type="submit" value="Update Wallet" />
            </div>
        </div>
    </div>
</form>
